<div class="page used_car beaytyView">
    <div class="page__bd" style="height: 100%;">
        <div class="weui-tab">
            <div class="weui-tab__panel" style="padding-bottom: 53px;">
                <!--BEGIN gallery-slider-->
                <div id="iSlider-wrapper">
                    <img src="/weixin/images/placeholder/blank750x340.png" class="site" alt="">
                    <div class="mask-bg"></div>
                    <div id="index_slider"></div>
                </div>
                <!--END gallery-slider-->
                <div class="intro weui-cells">
                    <div class="weui-cell">
                        <div class="weui-cell__bd f16 gray09 overtwo name">开瑞 开瑞K60 2018款 1.5T 手动豪华型</div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__bd f14 gray09">一口价
                            <span class="yellow01 price_now">￥45.6</span>
                            <s class="gray02 price_old">￥100</s>
                        </div>
                    </div>
                    <div class="weui-cell tag">
                        <div class="weui-cell__bd">
                            <span class="f12 gray10">认证商家</span>
                            <span class="f12 gray10">专属顾问</span>
                        </div>
                    </div>
                </div>
                <!--<div class="tenant_intro">-->
                <!--<p class="tc f16 tit01">商家信息</p>-->
                <!--<p class="f16 gray05">好车居汽车服务连锁</p>-->
                <!--<p class="f14 gray02">营业时间：7:00-20:00</p>-->
                <!--<p class="f14 gray02">商家电话：7855363</p>-->
                <!--<p class="f14 gray02">地址：宿松县宿松路好车居</p>-->
                <!--</div>-->
                <!--<div class="parameter">-->
                    <!--<div class="title f16">产品参数</div>-->
                    <!--<div class="cont f12 gray02">-->
                        <!--<p>品牌：3E</p>-->
                        <!--<p>型号：OP-1</p>-->
                        <!--<p>汽车品牌：东南 宝骏 传祺 雪佛兰 起亚 哈佛 比亚迪 丰田 现代 长安 宝马</p>-->
                        <!--<p>车系：DX3</p>-->
                        <!--<p>颜色：黑色 灰色</p>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="condition">
                    <div class="title f16">亮点介绍</div>
                    <div class="cont f12 detail" style="max-width: 100%; overflow-x: hidden;">
                        <!--<img src="/weixin/images/static/home/ad.jpg" alt=""/>-->
                        <!--<p>激情于心，卓越于行。宋DM，以百公里4.9秒凌厉加速，-->
                            <!--伴全新一代主流精英，全速进取。-->
                            <!--超广视野全景天窗，打开一片独属于你的风景。绝妙的开阔感受，自然之美触手可及，时刻激发向往自由之心。-->
                            <!--装配LED前大灯，彰显时尚更添科技之美，夜间行车视野更清晰，前行方向了然于心。-->
                            <!--360°高清全景影像 · 行享安全-->
                        <!--</p>-->
                    </div>
                </div>

            </div>
            <div class="foot_menu ft weui-tabbar">
                <!--<a href="javascript:;" class="weui-tabbar__item collect">-->
                <!--<div class="heart" style=""></div>-->
                <!--<p class="weui-tabbar__label f14 yellow01">收藏</p>-->
                <!--</a>-->
                <a href="tel:0556-7820666" class="weui-tabbar__item">
                    <i class="iconfont icon-dianhua f20"></i>
                    <p class="weui-tabbar__label f14">电话</p>
                </a>
                <a href="javascript:;" class="weui-tabbar__item f14 buy_btn" id="sheet_buy_now">立即购买</a>
            </div>
        </div>
    </div>
</div>