<div class="page personnelCar_view">
    <div class="page__bd" style="height: 100%;">
        <div class="weui-tab">
            <div class="weui-tab__panel pageable" style="padding: 0;">
                <div class="instro">
                    <div class="weui-cell">
                        <div class="weui-cell__bd f16 gray05" id="personnel_name"></div>
                        <div class="weui-cell__ft f11 gray05"><span class="baseColor f16" id="personnel_money"></span>元/月</div>
                    </div>
                    <ul class="clearfix f13">
                        <li class="fl">工作地点：<span id="personnel_address"></span></li>
                        <li class="fl">工作经验：<span id="personnel_experience"></span></li>
                        <li class="fl">学历：<span id="personnel_education"></span></li>
                    </ul>
                </div>
                <div class="weui-cells contacts bordernone">
                    <div class="weui-cell interviewer_name">
                        <div class="weui-cell__bd f16" id="interviewer_name"></div>
                    </div>
                    <div class="weui-cell bordernone recruit_phone">
                        <div class="weui-cell__bd f13" id="interviewer_position"></div>
                        <a href="javascript:;" class="call f13" id="interviewer_phone">拨号联系</a>
                    </div>
                </div>
                <!--<div class="weui-cell details_tit">-->
                    <!--<div class="weui-cell__bd f16">职位详情</div>-->
                <!--</div>-->
                <div class="details f13">
                    <div class="details_tit f16">职位详情</div>
                    <div>岗位职责：</div>
                    <div class="details_cont">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>