<div class="page personnelCar_view">
    <div class="page__bd" style="height: 100%;">
        <div class="weui-tab">
            <div class="weui-tab__panel pageable" style="padding: 0;">
                <div class="instro">
                    <div class="weui-cell">
                        <div class="weui-cell__bd f16 gray05" id="personnel_name">机修师傅</div>
                        <div class="weui-cell__ft f11 gray05"><span class="baseColor f16" id="personnel_money">5K-8K</span>元/月</div>
                    </div>
                    <ul class="clearfix f13">
                        <li class="fl">工作地点：<span id="personnel_address"></span></li>
                        <li class="fl">工作经验：<span id="personnel_experience"></span></li>
                        <li class="fl">学历：<span id="personnel_education"></span></li>
                    </ul>
                </div>
                <div class="weui-cells contacts bordernone">
                    <div class="weui-cell">
                        <div class="weui-cell__bd f16" id="interviewer_name">周飞</div>
                    </div>
                    <div class="weui-cell bordernone">
                        <div class="weui-cell__bd f13" id="interviewer_position">好车居 总经理</div>
                        <a href="tel:15155133955" class="call f13" id="interviewer_phone">拨号联系</a>
                    </div>
                </div>
                <!--<div class="weui-cell details_tit">-->
                    <!--<div class="weui-cell__bd f16">职位详情</div>-->
                <!--</div>-->
                <div class="details f13">
                    <div class="details_tit f16">职位详情</div>
                    <div>岗位职责：</div>
                    <div class="details_cont">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>