<div class="page schoolView">
    <div class="page__bd" style="height: 100%;">
        <div class="weui-tab">
            <div class="top_title f18 tc">好车居驾校</div>
            <div class="weui-tab__panel" style="padding: 45px 0 0;">
                <div id="iSlider-wrapper">
                    <img src="/weixin/images/placeholder/blank750x340.png" class="site" alt="">
                    <div class="mask-bg"></div>
                    <div id="index_slider"></div>
                </div>
                <div class="info">
                    <div class="weui-cell">
                        <div class="weui-cell__bd f16 gray05">好车居驾校</div>
                        <div class="weui-cell__ft f13 call">拨号联系</div>
                    </div>
                    <div class="weui-flex gray02 f13">
                        <div class="weui-flex__item tl">评分：4.7分</div>|
                        <div class="weui-flex__item tc">20.8万学员</div>|
                        <div class="weui-flex__item tc">合格率：90%</div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__bd f13">宿松县宿松路</div>
                    </div>
                </div>
                <div class="intro">
                    <div class="tit f16">简介</div>
                    <div class="intro_cont f13">
                        <p>      位于宿松县宿松路，占地面积近2000余亩，拥有花园般的环境、酒店式的服务以及世界一流的训练场、考试场和配套设施，现有宝来、桑塔纳、伊兰特和金龙大型客车、中型客车、大型货车、牵引车、摩托车等各种训练用车2000余部，员工4000余人，总资产达24.4亿。</p>
                    </div>
                </div>
                <div class="intro">
                    <div class="tit f16">驾校环境</div>
                    <div class="environment clearfix">
                        <img class="fl" src="http://dev.susonghaoniu.com/Upload/image/ueditor/20180617/1529204470736113.jpg"/>
                        <img class="fl" src="http://dev.susonghaoniu.com/Upload/image/ueditor/20180617/1529204470736113.jpg"/>
                        <img class="fl" src="http://dev.susonghaoniu.com/Upload/image/ueditor/20180617/1529204470736113.jpg"/>
                        <img class="fl" src="http://dev.susonghaoniu.com/Upload/image/ueditor/20180617/1529204470736113.jpg"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>