<div class="page schoolView">
    <div class="page__bd" style="height: 100%;">
        <div class="weui-tab">
            <!--<div class="top_title f18 tc">好车居驾校</div>-->
            <div class="weui-tab__panel" style="padding: 0;">
                <div id="iSlider-wrapper">
                    <img src="/weixin/images/placeholder/blank750x340.png" class="site" alt="">
                    <div class="mask-bg"></div>
                    <div id="index_slider"></div>
                </div>
                <div class="school_view"></div>
            </div>
        </div>
    </div>
</div>