<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>驾校详情</title>
    @import "../../include/header.inc";

</head>
<body ontouchstart>
<div class="weui-toptips weui-toptips_warn js_tooltips">错误提示</div>
<div class="container" id="container"></div>

<!--首页-->
<link rel="import" href="../../../../pages/school/view/index.html">

@import "../../../../model/widget/include/toast.html";
@import "../../../../model/widget/include/dialog.html";
<script src="/weixin/js/wap.min.js"></script>
<script type="text/javascript">
    $(function () {
        pageManager.show("index");
        // var aa = new zixun(function (data) {
        //     document.title = data.title;
        //     $('#title').html(data.title);
        //     if(data.author == '' || data.author == null){
        //         $('#author').addClass('none');
        //     }else{
        //         $('#author').html(data.author);
        //     }
        //     $('#time').html(data.addtime);
        //     $('#watch').html(data.hitcount);
        //     $('.cont').html(data.content);
        //     console.log(data);
        // });
        // aa.view({id: pageManager.GetQueryString("id")});
    });
</script>

</body>
</html>