<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>用品配件详情</title>
    @import "../../include/header.inc";

</head>
<body ontouchstart>
<div class="weui-toptips weui-toptips_warn js_tooltips">错误提示</div>
<div class="container" id="container"></div>

<!--首页-->
<link rel="import" href="../../../../pages/accessries/view/index.html">

@import "../../../../model/widget/include/toast.html";
@import "../../../../model/widget/include/dialog.html";
<script src="/weixin/js/wap.min.js"></script>
<script type="text/javascript">
    $(function () {
        pageManager.show("index");
        var userId = cookie.getCookie('userId');
        var id = pageManager.GetQueryString('id');
        var aa = new product(
            function (data) {
                document.title = data.shopgoods;
                $("#index_slider").silderDot(data.images, 1800, "", "product");
                $('.name').html(data.shopgoods);
                $('.price_now').html(data.cost);
                $('.price_old').html(data.price);
                $('.detail').html(data.detail);

                weixin.share({
                    title: data.shopgoods,
                    desc:data.desc,
                    imgUrl:data.images[0]
                });

            }
        );
        aa.view({id:id});
        $(document).on('click','#sheet_buy_now',function () {
            var money = $('.price_now').html();
            var cost = $('.price_old').html();
            new order(function (data) {
                location.href='/weixin/pay/index.html?trade_no=' + data.trade_no;
            }).add({gid:id,uid:userId,money:money,cost:cost,discount:'0'})
        })
    });
</script>

</body>
</html>