<div class="page newsView">
    <div class="page__bd" style="height: 100%;">
        <div class="weui-tab" style="background: #fff">
            <!--<div class="top_title f18 tc">好车居</div>-->
            <div class="weui-tab__panel pageable" style="padding: 0">
                <div class="title">
                    <p class="f17 gray05" id="title">好车居考诉你跑长途轿车好还是SUV好</p>
                    <p class="f13 gray02"><span id="author">好车居</span><span id="time">06-24 22:30 </span><span>浏览<a href="javascript:;" id="watch"></a>条</span></p>
                </div>
                <div class="cont f13">
                    <p>541545hfaijf复活卡介绍几个狂热聚光科技热加工突然</p>
                </div>
            </div>
        </div>
    </div>
</div>