<div class="page newsView">
    <div class="page__bd" style="height: 100%;">
        <div class="weui-tab" style="background: #fff">
            <!--<div class="top_title f18 tc">好车居</div>-->
            <div class="weui-tab__panel pageable" style="padding: 0">
                <div class="new_title">
                    <p class="f17 gray05" id="title"></p>
                    <p class="f13 gray02"><span id="author"></span><span id="time">06-24 22:30 </span><span>浏览<a href="javascript:;" id="watch"></a>条</span></p>
                </div>
                <div class="cont f13"></div>
            </div>
        </div>
    </div>
</div>